// Place all the styles related to the Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.incident-new {
  margin: 20px auto 0px auto;
  width: 75%;
}

.description__area {
  background-color: $primary;
  border: 2px solid $dark;
  color: $text;
  font-size: 14px;
  height: 265px;
  margin-top: 10px;
  outline: none;
  width: 500px;
  &:focus {
    border-color: $secondary;
  }
}

.container__one {
  display: inline-block;
  margin-left: 50px;
}

.container__two {
  display: inline-block;
  margin-left: 130px;
  vertical-align: top;
}

.incident__field {
  margin: 30px 20px 0 0;
}

.category {
  display: inline-block;
}

.severity {
  display: inline-block;
}

.column_two {
  display: inline-block;
  float: right;
}

.incident__info {
  font-family: "HelveticaNeue";
  font-size: 14px;
  color: $text;
  margin-bottom: 20px;
}

.info__text {
  font-family: "HelveticaNeue";
  font-size: 14px;
  color: $text;
  margin-top: 15px;
}

.info__label {
  color: $secondary;
}

.media__info {
  display: inline-block;
  margin-right: 100px;
}

.tag {
  vertical-align: top;
}

.tags {
  margin-top: 20px;
}

.tag__info {
  background-color: $secondary;
  border-radius: 3px;
  color: $primary;
  padding: 5px;
  margin-right: 10px;
}

.tag__info--fire {
  background-color: #F2784B;
  border-radius: 3px;
  color: $primary;
  margin-top: 20px;
  padding: 5px 100px 5px 5px;
}

.js--media {
  margin-top: 20px;
}

.incident__links {

}
