// Place all the styles related to the Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.incident-new {
  margin: 20px auto 0px auto;
  width: 800px;
}

.description__area {
  background-color: $primary;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 14px;
  height: 265px;
  margin-top: 10px;
  outline: none;
  width: 500px;
  &:focus {
    border-color: $lemon;
  }
}

.container__one {
  display: inline-block;
}

.container__two {
  display: inline-block;
  float: right;
}

.incident__field {
  margin: 30px 20px 0 0;
}

.category {
  display: inline-block;
}

.severity {
  display: inline-block;
}

.timeline {
  margin: 45px auto 0px auto;
  width: 1000px;
}

.timeline__table {
  border: 2px solid #FFF;
}

.table__fields {
  th {
    background-color: #FFF;
    color: $primary;
    font-family: "HelveticaNeue";
    font-weight: 400;
    padding: 5px;
    text-align: center;
  }
}

.table__row {
  color: #FFF;
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  font-size: 14px;
  &:hover {
    background-color: #FFF;
    color: $primary;
    a {
      color: $primary;
    }
  }
}

.incident__new-btn {
  background-color: $primary;
  border: 2px solid #FFF;
  color: white;
  cursor: pointer;
  height: 35px;
  font-size: 14px;
  padding: 5px;
  width: 100px;
  &:hover {
    background-color: #FFF;
    color: $primary;
  }
}

.incident {
  margin: 60px auto 0px auto;
  width: 700px;
}

.column_one {
  display: inline-block;
  width: 50%;
}

.column_two {
  display: inline-block;
  float: right;
}

.incident__info {
  font-family: "HelveticaNeue";
  font-size: 14px;
  color: #FFF;
  margin-bottom: 20px;
}

.info__text {
  font-family: "HelveticaNeue";
  font-size: 14px;
  color: #FFF;
  margin-top: 15px;
}
