.logo {
  margin-top: 20px;
  text-align: center;
}

.logo__title {
  color: white;
  display: inline-block;
  font-family: 'GandhiSans-Bold';
  font-size: 36px;
  letter-spacing: 4px;
  margin-top: 7px;
  vertical-align: middle;
}

.logo__icn {
  vertical-align: middle;
}
