/************
* Variables
************/
$pink: #E08283;
$downy: #65C6BB;
$turquoise: #4ECDC4;
$lemon: #F5D76E;

$primary: $pink;
$secondary: $lemon;

/************
*   Fonts
************/

@font-face {
  font-family: 'GandhiSans-Bold';
  src: font-url('GandhiSans-Bold.otf');
}

/************
*   Base
************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary;
}

a {
  color: #FFF;
  font-family: "HelveticaNeue";
  font-weight: 400;
  text-decoration: none;
}

h2 {
  font-family: "HelveticaNeue";
}

input[type=text],
input[type=email],
input[type=password],
{
  background-color: $primary;
  border: 0;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  font-size: 14px;
  height: 45px;
  width: 200px;
  &:focus {
    outline: none;
    border-color: $secondary;
  }
}

label {
  font-family: "HelveticaNeue";
  font-size: 16px;
  color: #FFF;
}

select {
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 0;
  color: #FFF;
  font-size: 14px;
  margin-top: 6px;
  outline-color: $lemon;
}

table {
  border-collapse: collapse;
}

td {
  border-right: 2px solid #FFF;
  padding: 3px;
}

tr {
  border-bottom: 2px solid #FFF;
}

p {
  font-family: "HelveticaNeue";
  font-size: 14px;
  color: #FFF;
}
